// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";
@import "font-awesome";

@font-face {
  font-family: 'Billabong';
  src: url('Billabong.ttf');
  font-weight: normal;
  font-style: normal;
}

.mapcanvas {
  height: 300px;
  width: 500px;
}

.keywords-block {
  /*margin-bottom: 7px;*/
}

.distance-display {
  transform:rotate(90deg);
  -ms-transform:rotate(90deg); /* IE 9 */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  font-size: 20px;
  margin: 20px 0px;
}

.control-panel {
  position: fixed;
  top: 195px;
  right: 30px;
  background-color: rgba(250,250,250,0.6);
  padding: 10px;
  z-index: 20;
}

.preinfos {
  /*position: absolute;*/
  position: relative;
  display: inline;
}

.info2 {
  position: absolute;
  /*position: relative;*/
  display: inline;
}

.infos {
  /*display: inline;*/
  position: absolute;
  top: 75px;
  /*bottom: 0px;*/
  left: 0px;
  z-index: 10;
  width: 200%;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.preinfos .infos {
  display:none;
}

.preinfos:hover .infos {
  display: inline;
}

/*img:hover .preinfos {*/
    /*display: inline;*/
/*}*/

.keyword {
  background-color: #C9C9C9;
  text-shadow: 0px 1px 0px #fff;
  border-radius: 20px;
  padding:5px 20px 5px 20px;
  color: #8B8888;
  border: solid 1px #E2E2E2;

  background-image: -webkit-gradient(
  linear,
  left top,
  left bottom,
  color-stop(0, #F5F5E7),
  color-stop(0.5, #CACCBE)
  );
  background-image: -o-linear-gradient(bottom, #F5F5E7 0%, #CACCBE 50%);
  background-image: -moz-linear-gradient(bottom, #F5F5E7 0%, #CACCBE 50%);
  background-image: -webkit-linear-gradient(bottom, #F5F5E7 0%, #CACCBE 50%);
  background-image: -ms-linear-gradient(bottom, #F5F5E7 0%, #CACCBE 50%);
  background-image: linear-gradient(to bottom, #F5F5E7 0%, #CACCBE 50%);
  &:hover {
    background-color: rgb(230,230,230);
  }

}

/*#map-canvas {*/
  /*height: 100px;*/
  /*width: 100%;*/
  /*margin-bottom: 5px;*/
/*}*/

.restaurant-name {
  color: #BB2727;
  font-size: 14px;
}

.address {
}

body {
  padding-top: 15px;
  background-color: rgb(30,30,30);
}

h1 {
  font-size: 120px;
  font-family: 'Billabong', sans-serif;
  text-shadow: 0px 1px 0px #fff;
  margin: 0;
  padding-left: 20px;
  color: rgb(180,180,180);
}

.large-formitem {
  height: 50px;
  font-size: 30px;
  margin-bottom: 6px;
  margin-top: 10px;
}

.valign {
  vertical-align: top;
}

.dashboard {
  min-width: 1138px;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 12px;
}

.min-width {
  min-width: 1000px;
  max-height: 500px;
}

.list {
  display: none;
}

.frame {
  max-height: 530px;
  overflow: auto;
}

.footer {
  border-top: solid 1px rgb(100,100,100);
  padding: 40px;
  color: rgb(120,120,120);
  background-color: rgb(50,50,50);
  width: 100%;
}
