// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";
@import "font-awesome";

/*@font-face {*/
/*font-family: 'Amaranth';*/
/*font-style: normal;*/
/*font-weight: 700;*/
/*src: local('Amaranth Bold'), local('Amaranth-Bold'), url(http://themes.googleusercontent.com/static/fonts/amaranth/v4/hh4Od9pccylRpuf5LUPgErrIa-7acMAeDBVuclsi6Gc.woff) format('woff');*/
/*}*/

@font-face {
  font-family: 'Billabong';
  src: url('Billabong.ttf');
  font-weight: normal;
  font-style: normal;
}

.keyword {
  background-color: #C9C9C9;
  border-radius: 5px 5px 0 0;
  padding:5px 10px 5px 10px;
  font-weight:bold;
  color: #C75151;
  &:hover {
    background-color: rgb(230,230,230);
  }
}
  /*text-shadow: 0px 1px 0px #fff;*/

  /*background-image: -webkit-gradient(*/
  /*linear,*/
  /*left top,*/
  /*left bottom,*/
  /*color-stop(0, #F0EEDD),*/
  /*color-stop(1, #BFBFAE)*/
  /*);*/
  /*background-image: -o-linear-gradient(bottom, #F0EEDD 0%, #BFBFAE 100%);*/
  /*background-image: -moz-linear-gradient(bottom, #F0EEDD 0%, #BFBFAE 100%);*/
  /*background-image: -webkit-linear-gradient(bottom, #F0EEDD 0%, #BFBFAE 100%);*/
  /*background-image: -ms-linear-gradient(bottom, #F0EEDD 0%, #BFBFAE 100%);*/
  /*background-image: linear-gradient(to bottom, #F0EEDD 0%, #BFBFAE 100%);*/

#map-canvas {
  height: 100px;
  /*width: 480px;*/
  width: 100%;
}

.restaurant-name {
  color: #BB2727;
  font-size: 14px;
}

.address {
  /*font-style: italic;*/
}

body {
  padding-top: 15px;
  background-color: rgb(30,30,30);
}

/*h1, h2, h3 {*/
/*font-family: 'Amaranth', sans-serif;*/
/*}*/

h1 {
  font-size: 120px;
  font-family: 'Billabong', sans-serif;
  /*text-shadow: 0px 1px 0px #fff;*/
  margin: 0;
  padding-left: 20px;
  color: #AF2D21;
}

.large-formitem {
  height: 50px;
  font-size: 30px;
  margin-bottom: 1px;
  /*background-color: rgb(30,30,30);*/
  /*color: rgb(200,200,200);*/
  /*font-family: 'Billabong', sans-serif;*/
}

.valign {
  vertical-align: top;
}

.dashboard {
  min-width: 1138px;
  border-radius: 12px;
  background-color: #ffffff;
  /*background-color: rgb(230,230,230);*/
  padding: 12px;
}

.min-width {
  min-width: 1000px;
  max-height: 500px;
}

.no-display {
  display: none;
}

.frame {
  max-height: 530px;
  overflow: auto;
}

.footer {
  padding: 40px;
  color: rgb(120,120,120);
  background-color: rgb(50,50,50);
  width: 100%;
}
